html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #faf3e6;
  background-size: 22em;
  overflow-y: auto;
}

body {
  color: #3f3d3a;
  font: 112.5%/1.3 "ltc-bodoni-175", serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  color: #272625;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #e5452c;
}

a:hover, a:focus {
  color: #3f3d3a;
}

p {
  margin-bottom: 0.15em;
}